<div id="product-detail-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="View Product" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!-- Modal content -->
        <div class="modal-content" style="margin-top:50px">
            <!-- Modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-lg-3 3pictures">
                       
                    </div>

                    <div class="col-lg-5 big_picture">
                        <div class="col-lg-12"><img id="product-image-big" src="img/Geanta21.jpg" class="img-responsive bigBagImage" /></div>
                    </div>

                    <div class="col-lg-4 text_price_aguy">
                        <div class="col-lg-12">
                            <div id="product-desc" class="col-lg-8">
                                <h4 class="titluprod">Contrast colour handbag.</h4>
                                <p class="descprod">
                                    Triangular flap detail. Zipped pocket at the back. Lining with pocket. Detachable shoulder strap. Gold-toned hardware. <br />
                                    Height x Width x Depth: 20 x 28 x 10 cm. / 7.8 x 11.0 x 3.9″
                                </p>
                            </div>
                            <div class="col-lg-3">
                                <h3 style="color: #008000" id="price" class="pretprod">560RON</h3>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="classBuy">
                            <button class="btn btn-primary col-lg-10 classBuy" onclick="openNavb()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Modal body -->
        </div>
    </div>
</div>
